<div>
    Name :<input type="text" id="name" [(ngModel)]="name" placeholder="Name">
    Description : <input type="text" id="des" [(ngModel)]="des" placeholder="Description">
    Image :<input type="text"  [(ngModel)]="img">
    <!-- Image :<input type="file" id="file" [(ngModel)]="img"> -->
    <br/>
    <button class="btn btn-info" (click)="addItem()">Add Item</button>
</div>

<hr/>
<div class="row">
    <div class="col-xs-12"> 
        <app-recipe-item *ngFor="let item of recipies" [recipeI]="item"
        (recopeSelected)="onRecipeSelected(item)"></app-recipe-item>
    </div>
</div>









<app-recipe-item></app-recipe-item>