<div class="rows">
<label class="Base" >Angular Basics</label>
</div>
<br/>
<div>
  <input type="text" placeholder="input text"  [(ngModel)]="name" />
  <button class="btn btn-success" [disabled]="!dis" (click)="onCreateServe()" >Submit</button>
  <button class="btn btn-primary" (click)="loop()">Add Numbers</button>
  <div *ngFor="let data of log; let i = index">
<p [ngStyle]="{backgroundColor: i >= 5 ?'red':'blue',width:'20px'}" [ngClass]="{'white-space': data >= 5}">{{data}}</p>
  </div>
  <p [ngStyle]="{backgroundColor:getcolor()}">Dynamic color.. Type "Online" or "Offline" </p>
  <p [ngClass]="{online: ServerName ==='Online'}">Dynamic Class</p>
  <br/>
  <p *ngIf="ServerName; else noServe">Server Was Created. Name is {{ServerName}}</p>
  <br/>
  <ng-template #noServe>
    <p>No Server was created..!</p>
  </ng-template>

</div>

<app-main *ngFor="let sr of serverFor"></app-main>
